<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <title>index</title>
<body>
    <%- include('partials/header.ejs') %>
    <main>
<p>First name: <%= firstName %></p>
<p>Last name: <%= lastName %></p>
<p>Gender: <%= gender %></p>
<p>Age: <%= age %></p>
<p>Residence: <%= residence %></p>
<a href="/profileCreation">Edit profile</a>
<a href="">Start dating!</a>
</main>
</body>
</html>